<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.AnsiColorTerminalAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
            </layout>
            <mapping name="debug">
                <level value="DEBUG" />
                <foreColor value="White" />
            </mapping>
            <mapping name="info">
                <level value="INFO" />
                <foreColor value="Green" />
            </mapping>
            <mapping name="warn">
                <level value="WARN" />
                <foreColor value="Yellow" />
            </mapping>
            <mapping name="error">
                <level value="ERROR" />
                <foreColor value="Red" />
            </mapping>
            <mapping name="fatal">
                <level value="FATAL" />
                <foreColor value="Red" />
                <attributes value="Bright,Underscore" />
            </mapping>
        </appender>
        <root>
            <level value="Debug" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
    <bytebuffer.size>1</bytebuffer.size>
    <session.sendbuffer.size>1</session.sendbuffer.size>
    <session.recvbuffer.size>1</session.recvbuffer.size>
    <client.keepalive>true</client.keepalive>
    <remote-services>
        <remote-service name="calc" type="commontest.src.test.ICalc" version="1.0.0">
            <servers>
                <server name="svr1" ip="127.0.0.1" port="10086" />
                <server name="svr2" ip="127.0.0.1" port="10087" />
            </servers>
        </remote-service>
        <remote-service name="calc2" type="commontest.src.test.ICalc2" version="1.0.0">
            <servers>
                <server name="svr1" ip="127.0.0.1" port="10086" />
                <server name="svr2" ip="127.0.0.1" port="10087" />
            </servers>
        </remote-service>
    </remote-services>
</configuration>
